[submodule "src/modules/boundedline"]
	path = src/modules/boundedline
	url = https://github.com/kakearney/boundedline-pkg.git
[submodule "src/modules/plotboxpos"]
	path = src/modules/plotboxpos
	url = https://github.com/kakearney/plotboxpos-pkg.git
[submodule "src/modules/export_fig"]
	path = src/modules/export_fig
	url = https://github.com/altmany/export_fig.git
[submodule "src/modules/sigstar"]
	path = src/modules/sigstar
	url = https://github.com/raacampbell/sigstar.git
[submodule "src/modules/scalebar"]
	path = src/modules/scalebar
	url = https://github.com/chenxinfeng4/scalebar.git
[submodule "src/modules/violinplot"]
	path = src/modules/violinplot
	url = https://github.com/bastibe/Violinplot-Matlab.git
